<div id="field-menu" [ngClass]="{'template-certificate-field-list': true, 'template-certificate-field-menu': true, 'hidden': visibility}">
    <div class="template-certificate-field-list-header">
        Add field
    </div>

    <div class="template-certificate-field-list-content">
        <div (click)="setFieldTypeToAdd('Text')" [ngClass]="{
                'template-certificate-field': true, 
                'template-certificate-field-clickable': true, 
                'template-certificate-field-active': fieldTypeToAdd === 'Text'
            }"
        >
            Text
        </div>

        <div (click)="setFieldTypeToAdd('Image')" [ngClass]="{
                'template-certificate-field': true, 
                'template-certificate-field-clickable': true, 
                'template-certificate-field-active': fieldTypeToAdd === 'Image'
            }"
        >
            Image
        </div>

        <div (click)="setFieldTypeToAdd('Link')" [ngClass]="{
                'template-certificate-field': true, 
                'template-certificate-field-clickable': true, 
                'template-certificate-field-active': fieldTypeToAdd === 'Link'
            }"
        >
            Link
        </div>
    </div>

    <div class="template-certificate-field-list-button">
        <app-button 
            [buttonText]="buttonAddFieldText" 
            [buttonType]="buttonAddFieldType" 
            [buttonHTMLType]="buttonAddFieldHTMLType" 
            [buttonDisabled]="fieldTypeToAdd === null"
            (click)="sendNewFieldData()"
        >
        </app-button>
    </div>
</div>