<header>
    <nav>
        <a class="link-home" routerLink="/">
            certisfied
        </a>
        
        <button [ngClass]="hamburgerClassList" type="button" (click)="toggleVisibleClass()">
            <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <rect x="2" y="2" width="20" height="4" rx="2"></rect>
                <rect x="2" y="10" width="20" height="4" rx="2"></rect>
                <rect x="2" y="18" width="20" height="4" rx="2"></rect>
            </svg>
        </button>

        <ul [class]="isVisible ? 'visible' : ''">
            <ng-container *ngIf="!isLogged">
                <li>
                    <a routerLink="/login" routerLinkActive="active">Login</a>
                </li>
    
                <li>
                    <a routerLink="/register" routerLinkActive="active">Register</a>
                </li>
            </ng-container>

            <li *ngIf="isLogged">
                <a routerLink="/profile" routerLinkActive="active">Profile</a>
            </li>

            <li>
                <a routerLink="/verify" routerLinkActive="active">Verify</a>
            </li>

            <li>
                <a routerLink="/documentation" routerLinkActive="active">Documentation</a>
            </li>

            <li>
                <a routerLink="/contacts" routerLinkActive="active">Contacts</a>
            </li>
        </ul>
    </nav>
</header>