<div class="register-container">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <h1>Register</h1>

        <!-- <div class={formSuccessDisplay ? "" : "hidden"}> -->
        <div>
            <label>E-mail</label>
            <input type="text" name="email" formControlName="email" />
            <div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
                <p *ngIf="email?.errors?.['required']" class="register-error">This field is required.</p>
                <p *ngIf="email?.errors?.['email']" class="register-error">A valid e-mail is required.</p>
            </div>

            <label>Username</label>
            <input type="text" name="username" formControlName="username" />
            <div *ngIf="username?.invalid && (username?.dirty || username?.touched)">
                <p *ngIf="username?.errors?.['required']" class="register-error">This field is required.</p>
                <p *ngIf="username?.errors?.['minlength']" class="register-error">A minimum length of 3 is required.</p>
            </div>

            <label>Password</label>
            <input type="password" name="password" formControlName="password" />
            <div *ngIf="password?.invalid && (password?.dirty || password?.touched)">
                <p *ngIf="password?.errors?.['required']" class="register-error">This field is required.</p>
                <p *ngIf="password?.errors?.['minlength']" class="register-error">A minimum length of 6 is required.</p>
            </div>

            <label>Repeat Password</label>
            <input type="password" name="repassword" formControlName="repassword" />
            <div *ngIf="repassword?.invalid && (repassword?.dirty || repassword?.touched)">
                <p *ngIf="repassword?.errors?.['required']" class="register-error">This field is required.</p>
                <p *ngIf="repassword?.errors?.['minlength']" class="register-error">A minimum length of 6 is required.</p>
            </div>
            
            <app-button [buttonText]="buttonText" [buttonType]="buttonType" [buttonHTMLType]="buttonHTMLType" [buttonMarginTop]="buttonMarginTop"></app-button>
            <p *ngIf="formError" class="register-error">An error occured.</p>
            <app-button-link [buttonText]="buttonTextLink" [buttonType]="buttonTypeLink" [buttonLink]="buttonLink" [buttonMarginTop]="buttonMarginTop"></app-button-link>
        </div>

        <!-- <div class={"register-success " + (formSuccessDisplay ? "hidden" : "")}>
            <img src={successIcon} alt="" />
            
            <p>You have successfully registered a new user!</p>
        </div> -->
    </form>
</div>