<div class="main-container">
    <div class="text-container">
        <div class="text-pair-two-rows">
            <p class="text-pair-header">Certificate name:</p>
            <input type="text" [value]="certificateName" [(ngModel)]="certificateName" />
        </div>

        <div class="text-pair-two-rows">
            <p class="text-pair-header">Certificate template:</p>

            <select [value]="templateValue" [(ngModel)]="templateValue" (change)="getTemplateById()">
                <option value="" disabled></option>
                
                <option *ngFor="let template of templates;" [value]="template.id">
                    {{template.name}}
                </option>
            </select>
        </div>

        <ng-container *ngIf="isEditCertificate">
            <div class="text-pair-one-row">
                <p class="text-pair-header">Created date:</p>
                <p>{{certificateCreatedDate | timestampToDate}}</p>
            </div>
    
            <div class="text-pair-one-row">
                <p class="text-pair-header">Last edit date:</p>
                <p>{{certificateEditedDate | timestampToDate}}</p>
            </div>
        </ng-container>

        <div class="text-pair-two-rows">
            <p class="text-pair-header">Notes:</p>
            <textarea [value]="certificateNotes" [(ngModel)]="certificateNotes"></textarea>
        </div>
    </div>

    <div class="certificate-and-fields-container">
        <div class="certificate-and-buttons-container">
            <app-certificate-display
                parentType="certificate"
                [orientation]="orientation"
                [currentFieldListStyling]="currentFieldListStyling"
                [currentFieldListActive]="currentFieldListActive" 
                (buttonFieldClickFunc)="showFieldEditMenu($event)" 
            ></app-certificate-display>
            
            <div class="button-container">
                <div class="button-container-radio">
                    <label for="orientation-portrait" class="radio-button-container">
                        <input type="radio" name="orientation" id="orientation-portrait" value="portrait" [checked]="true" />
                        <span class="checkmark"></span>
                        {{orientation === 'vertical' ? 'Portrait' : 'Landscape'}}
                    </label>
                </div>
            
                <div class="template-certificate-button-container-button">
                    <app-button 
                        [buttonText]="buttonSaveText" 
                        [buttonType]="buttonSaveType" 
                        [buttonHTMLType]="buttonSaveHTMLType" 
                        (click)="saveCertificate()" 
                    >
                    </app-button>
    
                    <app-button 
                        [buttonText]="buttonResetText" 
                        [buttonType]="buttonResetType" 
                        [buttonHTMLType]="buttonResetHTMLType" 
                        [buttonMarginLeft]="buttonResetMarginLeft"
                        (click)="getCertificate()" 
                    >
                    </app-button>
                    
                    <app-button 
                        *ngIf="isEditCertificate"
                        [buttonText]="buttonDeleteText" 
                        [buttonType]="buttonDeleteType" 
                        [buttonHTMLType]="buttonDeleteHTMLType" 
                        [buttonMarginLeft]="buttonDeleteMarginLeft"
                        (click)="deleteCertificate()" 
                    >
                    </app-button>
    
                    <app-button-link 
                        [buttonText]="buttonCancelText" 
                        [buttonType]="buttonCancelType" 
                        [buttonLink]="buttonCancelLink"
                        [buttonMarginLeft]="buttonCancelMarginLeft"
                    >
                    </app-button-link>
                </div>
            </div>
        </div>

        <div class="field-management">
            <app-field-list 
                [listArray]="currentFieldListSorted" 
                [listActiveIndex]="currentFieldListActive" 
                (buttonEditClickFunc)="showFieldEditMenu($event)" 
                [notEditable]="true" 
                [editableFields]="editableFields"
            ></app-field-list>
            
            <app-field-settings 
                [visibility]="isFieldSettingsMenuHidden" 
                [currentFieldData]="currentFieldData" 
                (buttonDoneClick)="hideFieldSettingsMenu()" 
                (editField)="updateField($event)" 
            ></app-field-settings>
        </div>
    </div>
</div>