.template-certificate-field-list {
    width: 165px;
    box-shadow: 2px 2px 5px rgba(8, 14, 20, 0.15);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    max-height: 790px;

    &.template-certificate-field-menu {
        align-self: flex-end;
    }
    
    &.hidden {
        display: none;
    }
    
    .template-certificate-field-list-header {
        text-transform: uppercase;
        font-weight: bold;
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid lightgray;
    }

    .template-certificate-field-list-content {
        border-bottom: 1px solid lightgray;
        height: 100%;
        overflow: auto;

        .template-certificate-field {
            display: flex;
            justify-content: space-between;
            padding: 10px;
            border-bottom: 1px solid lightgray;

            &:last-child {
                border-bottom: none;
            }

            button {
                height: 16px;
                width: 16px;
                background-color: transparent;
                border: none;
                cursor: pointer;

                &:last-child {
                    margin-left: 5px;
                }

                img {
                    height: 16px;
                    width: 16px;
                    pointer-events: none;
                }
            }
        }

        .template-certificate-field-text {
            padding: 10px;
            text-align: center;
        }
        
        .template-certificate-field-active {
            background-color: #000000;
            color: #FFFFFF;
        
            button {
                pointer-events: none;
            }
        }

        .template-certificate-field-settings {
            padding: 10px;
            border-bottom: 1px solid lightgray;
            
            &:last-child {
                border-bottom: none;
            }
            
            label {
                font-weight: bold;
                margin-left: 5px;
            }
            
            input {
                width: 100%;
                margin-top: 5px;
                border: none;
                padding: 10px;
                box-shadow: 2px 2px 5px rgba(8,14,20,0.15);
                border-radius: 10px;
                font-size: 16px;
                outline: none;
            }

            select {
                width: 100%;
                margin-top: 5px;
                border: none;
                padding: 10px;
                box-shadow: 2px 2px 5px rgba(8,14,20,0.15);
                border-radius: 10px;
                font-size: 16px;
                background-color: transparent;
            }

            .template-certificate-field-settings-boolean-container {
                width: 100%;
                margin-top: 5px;
                border: none;
                box-shadow: 2px 2px 5px rgba(8,14,20,0.15);
                border-radius: 10px;
                font-size: 16px;
                display: flex;
                justify-content: space-between;

                label {
                    cursor: pointer;
                    padding: 10px;
                    display: inline-block;
                    width: 50%;
                    
                    &:first-child {
                        border-top-left-radius: 10px;
                        border-bottom-left-radius: 10px;
                    }

                    &:last-child {
                        border-top-right-radius: 10px;
                        border-bottom-right-radius: 10px;
                    }
                }

                input {
                    display: none;
                }

                .template-certificate-field-settings-boolean-active {
                    background-color: var(--secondary-color);
                    color: var(--main-color);
                }
            }

            .template-certificate-field-settings-input-with-unit {
                display: flex;
                width: 100%;
                margin-top: 5px;
                border: none;
                box-shadow: 2px 2px 5px rgba(8,14,20,0.15);
                border-radius: 10px;
                font-size: 16px;

                input {
                    margin: 0;
                    box-shadow: none;
                }

                .template-certificate-field-settings-unit {
                    margin: 10px 0;
                    padding: 0 10px;
                    border-left: 1px solid var(--table-border-color);
                    color: var(--table-border-color);
                }

                &.template-certificate-field-settings-input-with-unit-selectable {
                    .template-certificate-field-settings-unit {
                        cursor: pointer;

                        &:hover {
                            color: var(--secondary-color);
                        }
                    }

                    .template-certificate-field-settings-unit-active {
                        color: var(--secondary-color);
                    }
                }
            }

            &.template-certificate-field-settings-colors {
                input {
                    cursor: pointer;
                    padding: 10px;
                    background-color: var(--main-color);
                    height: 39px;
                    transition: var(--transition-background-color);

                    &:hover {
                        background-color: var(--main-color-hover);
                    }
                }
            }

            &.template-certificate-field-settings-upload {
                .button-base {
                    border: none;
                    background-color: transparent;
                    padding: 10px 20px;
                    border-radius: 10px;
                    cursor: pointer;
                    box-shadow: 2px 2px 5px rgba(8,14,20,0.15);
                    transition: var(--transition-background-color);
                    text-transform: uppercase;
                    font-size: 16px;
                    font-weight: bold;
                }

                .button-secondary {
                    background-color: var(--main-color);
                    color: var(--secondary-color);
                    
                    &:hover {
                        background-color: var(--main-color-hover);
                    }
                }

                .template-certificate-field-settings-upload-button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: 0;
                    margin-top: 5px;

                    img {
                        transform: rotate(270deg);
                        width: 15px;
                        height: 15px;
                        margin-left: 2.5px;
                    }
                }

                input {
                    display: none;
                    cursor: pointer;
                    padding: 10px;
                    background-color: var(--main-color);
                    transition: var(--transition-background-color);
                    white-space: normal;

                    &:hover {
                        background-color: var(--main-color-hover);
                    }
                }
            }
        }
    }

    .template-certificate-field-list-button {
        padding: 10px;
        text-align: center;
    }
}