<div class="home-container">
    <div class="home-header-container">
        <h1>DESIGN. CREATE. SHARE.</h1>
        <h1>YOUR CERTIFICATES.</h1>
    </div>

    <div class="home-card-container">
        <a class="home-card" routerLink="/register">
            <p class="home-card-title">Register</p>
            <p class="home-card-description">Register to start creating and sharing certificates!</p>
        </a>

        <a class="home-card" routerLink="/verify">
            <p class="home-card-title">Verify</p>
            <p class="home-card-description">Verify that a certificate is exists and is valid!</p>
        </a>

        <a class="home-card" routerLink="/documentation">
            <p class="home-card-title">Documentation</p>
            <p class="home-card-description">View the documentation for users or developers.</p>
        </a>

        <a class="home-card" routerLink="/contacts">
            <p class="home-card-title">Contacts</p>
            <p class="home-card-description">Contact us if you require assistance or information!</p>
        </a>
    </div>
</div>