<div class="field-list">
    <div class="field-list-header">
        Fields
    </div>

    <div class="field-list-content">
        <div 
            *ngFor="let field of listArray;" 
            [ngClass]="{'field': true, 'field-active': listActiveIndex === field.id}"
        >
            {{ field.type }}

            <div class="field-buttons">
                <button type="button" class="button-edit" (click)="buttonEditClickIndex(field.id)"><img [src]="editIcon" alt="Edit" /></button>
                <button type="button" class="button-delete" (click)="buttonDeleteClickIndex(field.id)"><img [src]="deleteIcon" alt="Delete" /></button>
            </div>
        </div>
    </div>

    <div class="field-list-button">
        <app-button 
            [buttonText]="buttonAddFieldText" 
            [buttonType]="buttonAddFieldType" 
            [buttonHTMLType]="buttonAddFieldHTMLType" 
            (click)="buttonAddClick()"
        >
        </app-button>
    </div>
</div>