<div class="field-list">
    <div class="field-list-header">
        Fields
    </div>

    <div [ngClass]="{'field-list-content': true, 'field-list-content-no-border': notEditable}">
        <ng-container *ngFor="let field of listArray;" >
            <div *ngIf="!notEditable || editableFields.includes(field.id.toString())" [ngClass]="{'field': true, 'field-active': listActiveIndex === field.id}">
                {{ field.type }}
    
                <div class="field-buttons">
                    <button type="button" class="button-edit" (click)="buttonEditClickIndex(field.id)"><img [src]="editIcon" alt="Edit" /></button>
                    <button *ngIf="!notEditable" type="button" class="button-delete" (click)="buttonDeleteClickIndex(field.id)"><img [src]="deleteIcon" alt="Delete" /></button>
                </div>
            </div>
        </ng-container>

        <p *ngIf="!listArray.length || (notEditable && !editableFields.length)" class="field-text">No fields.</p>
    </div>

    <div class="field-list-button" *ngIf="!notEditable">
        <app-button 
            [buttonText]="buttonAddFieldText" 
            [buttonType]="buttonAddFieldType" 
            [buttonHTMLType]="buttonAddFieldHTMLType" 
            (click)="buttonAddClick()"
        >
        </app-button>
    </div>
</div>